# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List data science libraries
* List popular languages for Data Science
* Creat a table of Data Science tools
* Create a code cell to multiply and add numbers
* Create a code cell to convert minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. ggplot2

|Data Science Tools|
|------------------|
|Jypyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [59]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print (x)

17

In [61]:
# This will convert 200 minutes to hours by diving by 60
y = 200 #Minutes to be converted
z = y/60
print (z)

3.3333333333333335

## Author
Ilyas Al Bahri